:root {
  --color-light-white: rgb(255, 255, 255);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-white);
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}

.container {
  background-color: var(--color-white);
  border: 1.5px solid black;
  margin: 30px auto;
  width: 70%;
  min-width: 222px;
  max-width: 222px;
  padding: 0 5px 3px;
}

.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

p {
  display: flex;
  justify-content: space-between;
  margin: 3px 0;
}

p:not(.no-divider) {
  border-bottom: 1px solid var(--color-black);
}



.divider {
  background-color: var(--color-black);
  width: 100%;
}

.small-height {
  height: 1px;
}

.medium-height {
  height: 5px;
}

.large-height {
  height: 10px;
}

.divider-bottom {
  border-bottom: 1px solid var(--color-black)
}

.indent {
  margin-left: 0.7rem;
}
.indent-double {
  margin-left: 1.2rem;
}


.font-small {
  font-size: 0.55rem;
}